@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #f9fafb;
  --foreground: #0a0a0a;
  --secondary: #475569;
  --accent: #3c83f6;
  --text-heading: 2.25rem;
  --text-heading--line-height: var(--text-4xl-line-height);
  --text-heading--font-weight: 700;
  --text-body: 1rem;
  --text-body--line-height: var(--text-base-line-height);
  --text-body--font-weight: 400;
  --border: oklch(0.92 0.004 286.32);

  --edge: color-mix(in oklab, var(--border) 64%, var(--background));

  --sh-class: #2d5e9d;
  --sh-identifier: #475569;
  --sh-sign: #64748b;
  --sh-property: #0369a1;
  --sh-entity: #15803d;
  --sh-jsxliterals: #4338ca;
  --sh-string: #059669;
  --sh-keyword: #dc2626;
  --sh-comment: #6b7280;
  --sh-pre: #f3f4f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-work-sans);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --text-heading: var(--text-heading);
  --text-heading--line-height: var(--text-heading--line-height);
  --text-heading--font-weight: var(--text-heading--font-weight);
  --text-body: var(--text-body);
  --text-body--line-height: var(--text-body--line-height);
  --text-body--font-weight: var(--text-body--font-weight);

  --color-edge: var(--edge);

  --text-notes-h2: var(--text-2xl);
  --text-notes-h3: var(--text-xl);
  --text-notes-h4: var(--text-lg);
  --text-notes-body: var(--text-base);

  --color-code-background: var(--sh-pre);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --secondary: #94a3b8;
    --accent: #3c83f6;
    --border: oklch(0.274 0.006 286.033);

    --sh-class: #70a5eb;
    --sh-identifier: #cdd6f4;
    --sh-sign: #6c7086;
    --sh-property: #7dcfff;
    --sh-entity: #94e2d5;
    --sh-jsxliterals: #b4befe;
    --sh-string: #a6e3a1;
    --sh-keyword: #f38ba8;
    --sh-comment: #6c7086;
    --sh-pre: #0f1117;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
